/*
  Override default refinery application CSS below.
  Formatting applies to all frontend.
*/

/* move this to a separate file */
span.add_events, span.state {
  text-align: right;
  line-height: 28px;
}

span.add_events {
  position: absolute;
  top: 3px;
  right: 120px;
}

span.state {
  position: absolute;
  top: 3px;
  right: 240px;
}

span.state form {
  display: inline;
}

span.state form label {
  display: inline;
}
/* cut here */

body {
  font: 13.34px helvetica,arial,freesans,clean,sans-serif;
}

h1#logo {
  margin: 0;
}

#menu {
  background: #4689B5;
  z-index: 1000;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

#menu li {
  width: 150px;
  display: block;
}

#menu > li.last {
  margin-right: 0px;
  float: right;
}

#menu li a {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: block;
  padding: 4px 8px;
  color: black;
  text-shadow: 1px 1px 1px #ddd ;
}

#menu li.selected > a {
  color: white;
  text-shadow: 1px 1px 1px black ;
}

#menu > ul {
  position: relative;
}

#menu > ul > li {
  display: block;
  z-index: 1001;
  min-height: 20px;
}

#menu li > ul {
  background: #D66C0E;
  display: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 23px;
  left: 0px;
  z-index: 10000000;
  width: 700px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

#menu li ul > li {
  margin: 0px auto;
}

#menu li:hover ul {
  display: block;
}

#menu li ul li {
  float: left;
}

#menu li ul li a {
  font-size: 0.9em;
}

#page {
  width: 950px;
}

#body_content {
  background-image: url(../images/img-labo.jpg),url(../images/fd-img-labo.gif) ;
  background-repeat: no-repeat,repeat-y;
  background-position: top left, top left;
  min-height: 284px;
  padding-left: 284px;
}

#body_content_left {
  float: left;
}

h1#body_content_title {
  font-size: 1.5em;
  color: #4689B5;
  text-shadow: 1px 1px #666 ;
  margin-bottom: 5px;
}

footer {
  margin: 0;
  padding-right: 100px;
  background: #ECECEC; 
  text-align: right;
}
