/*
  Override default refinery homepage styles here.
  These only apply to the homepage of your site.
*/

section.home {
  background-image: url(../images/fnd-home.jpg);
  height: 329px;
}

#next_school {
  float: right;
  width: 310px;
  margin-right: 20px;
}

#next_school a {
  color: inherit;
  text-decoration: none;
}

#next_school h2 {
  color: #4689B5;
}

.school_when_where {
  color: #D66C0E;
  text-shadow: 1px 1px white;
}
