#programme {
  margin: 1em ;
  width: 680px;
  font-size: 0.9em
}

.line {
  width: 650px;
  clear: both;
}

.event {
  float: left;
}

.when {
  color: #4689B5;
}

.gutter {
  margin: 0 5px;
}

.title_and_speaker {
  width: 600px;
  margin: 0;
  padding: 0;
}

.title {
  font-weight: bold;
}

.speaker:before {
  content: ": ";
}

.speaker {
  font-style: italic;
}

.place {
  font-style: italic;
}

#school_theme h3 {
  color: #4689B5;
  margin-bottom: 0;
}

.ui-widget-header {
  background: rgba(214,108,14,0.6);
}

.school {
  background: white;
  padding: 3px 0 3px 10px;
  border: 1px solid #CCC;
  margin-bottom: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 3px 3px 3px #CCC;
  -webkit-box-shadow: 3px 3px 3px #CCC;
  box-shadow: 3px 3px 3px #CCC;
}

.school .title {
  color: #D66C0E;
}

.school .when_and_where, .school .publications {
  font-weight: bold;
}

.school .theme {
  margin-top: 1em;
}

#schools .pagination {
  text-align: center;
  width: 200px;
  margin: 0 auto;
}

#schools .pagination a {
  color: #4689B5;
  text-decoration: none;
}

#schools .pagination a:hover {
  text-decoration: underline;
}
