#programme {
  margin: 1em ;
  width: 680px;
  font-size: 0.8em
}

.line {
  width: 650px;
  clear: both;
}

.event {
  float: left;
}

.when {
  color: #4689B5;
}

.gutter {
  margin: 0 5px;
}

.title_and_speaker {
  width: 600px;
  margin: 0;
  padding: 0;
}

.title {
  font-weight: bold;
}

.speaker:before {
  content: ": ";
}

.speaker {
  font-style: italic;
}

.place {
  font-style: italic;
}

#school_theme h3 {
  color: #4689B5;
  margin-bottom: 0;
}
