<a class="logo" href="/">
  <%= image_tag("logo-hover.png", :alt => "Summerschool In Immunotoxicology", :class => "default") %>
  <!--[if (gt IE 8)|!(IE)]><!-->
  <%= image_tag("logo.png", :alt => "Summerschool In Immunotoxicology", :class => "hover") %>
  <!--<![endif]-->
</a>
<%= render(:partial => "/shared/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
<div id="gutter"></div>
