<div id="center_block">
  <h1 id='logo'>
    <%= link_to image_tag("logo_school_immunotoxicology.jpg"), root_path %>
  </h1>
  <%= render(:partial => "/shared/menu", :locals => {
               :dom_id => 'menu',
               :css => 'menu'
             }) %>
  <div id="gutter"></div>
</div>
