<div class="side_block">
  <%= image_tag("bord-haut-gauche.gif") %>
</div>
<div id="center_block">
  <h1 id='logo'>
    <%= link_to image_tag("logo_school_immunotoxicology.jpg"), root_path %>
  </h1>
  <%= render(:partial => "/shared/menu", :locals => {
               :dom_id => 'menu',
               :css => 'menu'
             }) %>
  <section id="top_gutter">
  </section>
</div>
<div class="side_block">
  <%= image_tag("bord-haut-droite.gif") %>
</div>
